body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  background-color: #c7c5c7;
}

.navbar {
  background-color: #222;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.nav-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #ff9900;
}

.hero {
  background-color: #b3d9f0;
  padding: 50px 20px;
  text-align: center;
}

.projects {
  padding: 40px 20px;
}

.projects h2 {
  text-align: center;
}

.projects h3 {
  text-align: center;
}

.project-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  width: 300px;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: #222;
  color: white;
  padding: 15px;
  font-size: 14px;
  text-align: center;
}
